* {
    box-sizing: border-box;
}

html {
    background-color: #4096e6;
}

/* ===PAGE LAYOUT CONTAINERS=== */

.container {
    width: 400px;
    margin: auto;
}

.logo-container {
    height: 105px;
    width: 100%;
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.signup-form-container {
    width: 100%;
    padding: 15px 40px;
    background-color: #fff;
    min-height: 50vh; /* TEMP: Design aid */
}

.login-link-container {
    width: 100%;
    padding: 5px 40px;
}

/* ===LOGO=== */


.logo-container img {
    height: 35px;
}


/* ===SIGN UP FORM=== */




/* ===LOGIN LINK=== */

.login-link {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.login-link a {
    color: #fff;
}