* {
    box-sizing: border-box;
}

html {
    background-color: #4096e6;
}

/* ===PAGE LAYOUT CONTAINERS=== */

.container {
    width: 400px;
    margin: auto;
}

.logo-container {
    height: 105px;
    width: 100%;
    padding: 40px 40px 30px 40px;
    text-align: center;
}

.signup-form-container {
    width: 100%;
    padding: 15px 40px;
    background-color: #fff;
}

.login-link-container {
    width: 100%;
    padding: 5px 40px;
}

/* ===LOGO=== */


.logo-container img {
    height: 35px;
}


/* ===SIGN UP FORM=== */

.signup-form {
    width: 100%;
    padding-bottom: 40px;
}

h1 {
    text-align: center;
    font-weight: normal;
}

label {
    display: block;
    padding: 20px 0px;
}

input {
    width: 320px;
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 3px;
    height: 55px;
}

input[type="password"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    background-color: #65c26e;
    border-color: #65c26e;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

    input[type="submit"]:hover, input[type="submit"]:focus {
        background-color: #488c4f;
        border-color: #488c4f;
    }
    


/* ===LOGIN LINK=== */

.login-link {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.login-link a {
    color: #fff;
}